.add-post {
    display: none;
    flex-direction: column;
    width: 67%;
}
.add-post.visible {
    display: flex;
}
.add-title,
.add-text,
.add-tags {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
  resize: none;
}
.add-text {
  min-height: 362px;
}
.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 2%;
}
.add-post .button-outline {
    margin-right: 1%;
}